.btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-wrap > button,
.btn-wraps > button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn-wrap > button > i,
.btn-wraps > button > i {
  font-size: 25px;
  color: orangered;
}

.bx-message-square-edit {
  color: green !important;
}

.date_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.time_span {
  background-color: rgb(31, 171, 138);
  color: #fff;
  padding: 2px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.date_span {
  margin-left: 10px;
  color: rgb(31, 171, 138);
  font-weight: bold;
}

.delete_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delete_box > i {
  font-size: 25px;
  margin-right: 10px;
  color: orange;
}

.delete_box > span {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.delete_box > span > span {
  background-color: rgb(31, 171, 138);
  color: #fff;
  padding: 0 10px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 10px;
}

.btn_wrap_delete {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn_wrap_delete > button {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.no_btn {
  background: #f00;
  margin-right: 10px;
}

.yes_btn {
  background: green;
}

.content_delete_box {
  padding: 10px;
}

.content_delete_box > p {
  font-size: 15px;
  font-weight: 500;
}

.content_delete_box > p:nth-child(2) {
  margin-top: 10px;
  font-size: 13px;
  color: #f00;
  font-weight: bold;
}

.boxx {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
