.input_wrap {
 width: 100%;
}

.scrool{
  width: 100%;
  overflow-y: scroll;
}

h3 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.row {
  margin: 40px 0 0 0 !important;
}

.col > input, select{
    width: 100%;
    margin-bottom: 20px;
}

input, select {
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #aaaaaa;
}

input:focus {
  border: 2px solid red;
}
