.input_wrap {
  width: 100%;
}

.scrool {
  width: 100%;
  height: 100%;
}

h4 {
  color: #000;
  font-size: 15px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.row {
  margin: 0 0 0 0 !important;
}

.col > input,
select {
  width: 100%;
  margin-bottom: 20px;
}

.col {
  margin-bottom: 5px;
}

input,
select {
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #aaaaaa;
}

/* input:focus {
  border: 2px solid red;
} */

/* .ant-drawer-wrapper-body{
  background: #9796F0  !important;
} */

.ant-drawer-close > .anticon {
  display: none !important;
}

.ant-drawer-title {
  font-size: 30px !important;
  font-weight: bold;
}

.infor_box {
  width: 100%;
}

.infor_box > p {
  font-size: 14px;
  color: #000;
  /* text-align: justify; */
}

.infor_box > p > span {
  font-weight: bold;
}

.ant-image-preview-wrap {
  z-index: 9999 !important;
}

.ant-image-preview-operations-wrapper {
  z-index: 99999 !important;
}

.ant-image-mask {
  border-radius: 20px !important;
}

.none_img {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* border: 2px solid #eeeeee; */
}

.none_img > i {
  font-size: 50px;
  color: #666;
}

.upload_wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload_wrapp > div {
  width: 200px;
  height: 200px;
}

.col_upload {
  width: 161.16px !important;
  height: 161.16px !important;
}
.col_upload:nth-child(1) {
  padding-left: 0 !important;
}
.col_upload:nth-child(2) {
  padding-right: 0 !important;
}
