.input_wrap {
 width: 100%;
}

.scrool{
  width: 100%;
  height: 100%;
}

h4{
  color: #000;
  font-size: 15px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.row {
  margin: 0 0 0 0 !important;
}

.col > input, select{
    width: 100%;
    margin-bottom: 20px;
}

.col{
  margin-bottom: 5px;
}

input, select {
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #aaaaaa;
}

input:focus {
  border: 2px solid red;
}

/* .ant-drawer-wrapper-body{
  background: #9796F0  !important;
} */

.ant-drawer-close > .anticon{
  display: none !important;
  
}

.ant-drawer-title{
  font-size: 30px !important;
  font-weight: bold;
}
