.input_wrap {
  width: 100%;
}

h3 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.row {
  margin-top: 40px;
}

.col > input{
    width: 100%;
    margin-bottom: 20px;
}
